@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper-button-next:after,
.swiper-button-prev:after{
    color: #a8dadc;
}

.swiper-pagination-progressbar .swiper-pagination-progressbar-fill{
    background: #a8dadc !important
}

body{
    background-color: rgb(239, 243, 244);
}

